Todo/Todo.Client/Connected Services/TodosService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2112/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:2112/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Todo.Core.Domain" />
  <xs:element name="GetTodo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q1:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTodoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Todo.Core.Domain" minOccurs="0" name="GetTodoResult" nillable="true" type="q2:Todo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTodos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTodosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Todo.Core.Domain" minOccurs="0" name="GetAllTodosResult" nillable="true" type="q3:ArrayOfTodo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPendingTodos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pendingOnly" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPendingTodosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Todo.Core.Domain" minOccurs="0" name="GetPendingTodosResult" nillable="true" type="q4:ArrayOfTodo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAllChanges">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAllChangesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>